/*!
 * 
 * Angle - Bootstrap Admin App + AngularJS
 * 
 * Version: 3.2.0
 * Author: @themicon_co
 * Website: http://themicon.co
 * License: https://wrapbootstrap.com/help/licenses
 * 
 */

// Override bootstrap variables
@import "app/variables";

// Bootstrap
@import "bootstrap/bootstrap/_mixins";

// Global definition of media queries
@import "app/media-queries";
// Utilities 
@import "app/utils-definitions";

// Bootstrap reset
@import "app/bootstrap-reset";

// Typography
@import "app/typo";

// Layout
@import "app/layout";
@import "app/layout-extra";
@import "app/layout-animation";
@import "app/top-navbar";
@import "app/sidebar";
@import "app/offsidebar";

// Tables
@import "app/datatable";
@import "app/table-extras";
@import "app/table-ngtable";
@import "app/table-ng-grid";
@import "app/table-uigrid";
@import "app/table-angulargrid";

// Form elements
@import "app/form-elements";
@import "app/form-imgcrop";
@import "app/form-validation";
@import "app/form-tags";
@import "app/circles";
@import "app/form-wizard";
@import "app/uiselect";
@import "app/code-editor";

// Plugins
@import "app/plugins";
@import "app/slim-scroll";
@import "app/datepicker";
@import "app/alerts";
@import "app/notify";
@import "app/calendar";
@import "app/spinner";
@import "app/gmap";
@import "app/vector-map";
@import "app/portlets";

// Components
@import "app/preloader";
@import "app/breadcrumbs";
@import "app/loading-bar";
@import "app/animate";
@import "app/button-extra";
@import "app/placeholder";
@import "app/panels";
@import "app/progress-extra";
@import "app/radial-bar";
@import "app/user-block";
@import "app/circles";
@import "app/timeline";
@import "app/dropdown-extra";
@import "app/row-extra";
@import "app/half-float";
@import "app/masonry-grid";
@import "app/widget";
@import "app/typeahead";
@import "app/table-grid";
@import "app/todo";
@import "app/ngwig";
@import "app/ngdialog";
@import "app/nestable";
@import "app/carousel";
@import "app/masonry-grid-deck";

// Utilities 
@import "app/utils";

// Custom Styles
@import "custom-mixins";
@import "custom";

// Print CSS
@import "app/print";

// Theme
//@import "themes/theme-a";

#myLoadDiv {
	background: gray none repeat scroll 0 0;
	display: none;
    height: 100%;
    left: 0;
    opacity: 0.62;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#loader-wrapper{
	background-color: black;
    border-radius: 10px;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 80px;
}

#ajax-loader {
	left: 30%;
    position: absolute;
    top: 15%;
}