<!-- START Off Sidebar (right)-->
<nav ng-controller="ConferenceController" >
   <uib-tabset justified="true">
      <uib-tab class="test">
         <uib-tab-heading>
            <div class="tab-heading-inner date">{{currentDate}}</div>
         </uib-tab-heading>
         <div ng-include="'views/partials/offsidebar-tab1.html'"></div>
      </uib-tab>
      <uib-tab>
         <uib-tab-heading>
            <div class="tab-heading-inner users"><em class="icon-users fa-lg"></em></div>
         </uib-tab-heading>
         <div>
            <div ng-include="'views/partials/offsidebar-tab2.html'"></div>
         </div>
      </uib-tab>
   </uib-tabset>
</nav>
<!-- END Off Sidebar (right)-->
