<div>
    <h4 class="text-center text-thin">+1 Panel</h4>
    <p class="text-center text-thin">Patient name | Case {{activeConferenceId}}</p>
    <div class="status">
		
<!--
		<input type="text" ng-model="conferenceId" name="conferenceId" placeholder="Enter conference id" />
-->
		<div class="initial-panel" ng-if="JoinDiv">
			<div class="join-leave">
				<a class="btn btn-lg btn-default join-conf-btn" ng-click="startConfCall()" >Join</a><!--ng-disabled="joinDisable"-->
			</div>
			<div class="start-finish">
				<div class="title">Starts</div>
				<div class="time">{{currentTime}}<span>{{amPm}}</span></div>
			</div>
        </div>
		<div class="initial-panel" ng-if="!JoinDiv">
			<div class="join-leave">
				<a class="btn btn-lg btn-default join-conf-btn" ng-click="joinConference(joinConfId)" >Join</a><!--ng-disabled="joinDisable"-->
			</div>
			<div class="start-finish">
				<div class="title">Starts</div>
				<div class="time">{{second_currentTime}}<span>{{second_amPm}}</span></div>
			</div>
        </div>
        
    </div>
    
    <div class="conf-number">
		<p>+1 219 230 3182</p>
    </div>
    <p class="text-left text-muted colleagues-present-title">Colleagues present</p>
    <div class="colleagues">
		<img src="img/user/02.jpg" alt="Image" class="img-circle" ng-repeat="user in confUsers" title='{{user}}'>
		
		<!--TODO: This will need to be hooked up to a mic service-->
		<span class="audio" ng-click="activateMic()" ng-class="{active: activeMic}">
			<em ng-if="!activeMic" class="fa fa-microphone-slash"></em>
			<em ng-if="activeMic" class="fa fa-microphone"></em>
		</span>
    </div>
<!--
    <div class="well well-sm">Status : <span>{{twilio_status}}</span></div>
-->
    <p class="text-left text-muted">Collaboration tools</p>
    <div class="collab-tools">
        <button type="button" target="_blank" ng-click="openSharedDicomViewer()"  class="btn btn-lg">Dicom viewer</button>
        <button type="button" class="btn btn-lg" ng-click="shareWhiteBoard()" ng-disabled="whiteBoardDisable">Shared whiteboard</button>
        <button type="button" class="btn btn-lg">Group messaging</button>
        <button type="button" class="btn btn-lg">Case decisions</button>
    </div>
    
    <a class="full-width" ng-repeat="conf in upCommingConferences" ng-click="makeConferenceActive(conf.conference_id, convertDate(conf.scheduledDateTime), convertTime(conf.scheduledDateTime))">
        <div class="date" >{{convertDate(conf.scheduledDateTime)}}</div>
        <div class="time">{{convertTime(conf.scheduledDateTime)}}</div>
    </a>
</div>
