<h3>
    <!-- START Language list-->
    <!--<div class="pull-right">-->
    <!--<div uib-dropdown="" is-open="language.listIsOpen" class="btn-group">-->
    <!--<button type="button" uib-dropdown-toggle="" class="btn btn-default">{{language.selected}}-->
    <!--<span class="caret"></span>-->
    <!--</button>-->
    <!--<ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">-->
    <!--<li ng-repeat="(localeId, langName) in language.available"><a ng-click="language.set(localeId, $event)"-->
    <!--href="#">{{langName}}</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!-- END Language list    -->
    My tasks
    <i class="icon icomoon billing"></i>
</h3>

<!--TODO: show up to five tasks ( if available )-->
<!-- START Multiple List group-->
<div class="list-group">
    <a href="#" class="list-group-item">
        <table class="wd-wide">
            <tbody>
            <tr>
                <td class="wd-xs">
                    <div class="ph">
                        <div class="date-box">
                            <span class="month">Jan</span>
                            <br/>
                            <span class="day">20</span>
                        </div>
                        <!--<img src="/img/dummy.png" alt="" class="media-box-object img-responsive img-rounded thumb64"/>-->
                    </div>
                </td>
                <td>
                    <div class="ph">
                        <h4 class="media-box-heading">Task 1</h4>
                        <small class="text-muted">A longer description of the user's task</small>
                    </div>
                </td>
                <td class="hidden-md hidden-lg">
                    <div class="ph">
                        <div class="pull-left img-detail hidden-xs hidden-sm">
                            <img src="img/user/02.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                        </div>
                        <div class="pull-right hidden-sm">
                            <strong class=""></span>Juan Simms</strong>
                            <div class="case-number text-muted">Case: 12345</div>
                        </div>
                    </div>
                </td>
                <td class="wd-sm hidden-xs hidden-sm">
                    <div class="ph">
                        <div class="pull-left img-detail">
                            <img src="img/user/02.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                        </div>
                        <div class="pull-right">
                            <strong class=""></span>Juan Simms</strong>
                            <div class="case-number text-muted">Case: 12345</div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </a>
</div>
<div class="list-group">
    <a href="#" class="list-group-item">
        <table class="wd-wide">
            <tbody>
            <tr>
                <td class="wd-xs">
                    <div class="ph">
                        <div class="date-box">
                            <span class="month">Jan</span>
                            <br/>
                            <span class="day">21</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ph">
                        <h4 class="media-box-heading">Task 2</h4>
                        <small class="text-muted">A longer description of the user's task</small>
                    </div>
                </td>
                <td class="hidden-md hidden-lg">
                    <div class="ph">
                        <div class="pull-left img-detail hidden-xs hidden-sm">
                            <img src="img/user/02.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                        </div>
                        <div class="pull-right hidden-sm">
                            <strong class=""></span>Juan Simms</strong>
                            <div class="case-number text-muted">Case: 12345</div>
                        </div>
                    </div>
                </td>
                <td class="wd-sm hidden-xs hidden-sm">
                    <div class="ph">
                        <div class="pull-left img-detail">
                            <img src="img/user/02.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                        </div>
                        <div class="pull-right">
                            <strong class=""></span>Juan Simms</strong>
                            <div class="case-number text-muted">Case: 12345</div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </a>
</div>
<div class="list-group">
    <a href="#" class="list-group-item">
        <table class="wd-wide">
            <tbody>
            <tr>
                <td class="wd-xs">
                    <div class="ph">
                        <div class="date-box">
                            <span class="month">Jan</span>
                            <br/>
                            <span class="day">23</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ph">
                        <h4 class="media-box-heading">Task 3</h4>
                        <small class="text-muted">A longer description of the user's task</small>
                    </div>
                </td>
                <td class="hidden-md hidden-lg">
                    <div class="ph">
                        <div class="pull-left img-detail hidden-xs hidden-sm">
                            <img src="img/user/02.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                        </div>
                        <div class="pull-right">
                            <strong class=""></span>Juan Simms</strong>
                            <div class="case-number text-muted">Case: 12345</div>
                        </div>
                    </div>
                </td>
                <td class="wd-sm hidden-xs hidden-sm">
                    <div class="ph">
                        <div class="pull-left img-detail">
                            <img src="img/user/02.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                        </div>
                        <div class="pull-right">
                            <strong class=""></span>Juan Simms</strong>
                            <div class="case-number text-muted">Case: 12345</div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </a>
    <!-- END dashboard main content-->
</div>
<div class="list-group">
    <a href="#" class="list-group-item">
        <table class="wd-wide">
            <tbody>
            <tr>
                <td class="wd-xs">
                    <div class="ph">
                        <div class="date-box">
                            <span class="month">Jan</span>
                            <br/>
                            <span class="day">25</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ph">
                        <h4 class="media-box-heading">Task 4</h4>
                        <small class="text-muted">A longer description of the user's task</small>
                    </div>
                </td>
                <td class="hidden-md hidden-lg">
                    <div class="ph">
                        <div class="pull-left img-detail hidden-xs hidden-sm">
                            <img src="img/user/02.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                        </div>
                        <div class="pull-right">
                            <strong class=""></span>Juan Simms</strong>
                            <div class="case-number text-muted">Case: 12345</div>
                        </div>
                    </div>
                </td>
                <td class="wd-sm hidden-xs hidden-sm">
                    <div class="ph">
                        <div class="pull-left img-detail">
                            <img src="img/user/02.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                        </div>
                        <div class="pull-right">
                            <strong class=""></span>Juan Simms</strong>
                            <div class="case-number text-muted">Case: 12345</div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </a>
    <!-- END dashboard main content-->
</div>
<!-- END Multiple List group-->

<div class="row">
    <div class="col-lg-3 dashboard-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Latest files</div>
            </div>
            <!--<scrollable height="249" color="red" class="list-group latest-files">-->
            <!-- START list group-->

            <!-- START list group item-->
            <a href="#" class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-yellow"></em>
                        <em class="fa fa-cloud-upload fa-stack-1x fa-inverse text-white"></em>
                     </span>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="text-muted pull-right">15m</small>
                        <span class="circle circle-unread pull-right circle-lg text-left"></span>
                        <strong class="media-box-heading">NEW FILE
                        </strong>
                        <p class="mb-sm">
                            <small>Bootstrap.xls</small>
                        </p>
                    </div>
                </div>
            </a>
            <!-- END list group item-->
            <!-- START list group item-->
            <a href="#" class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-green"></em>
                        <em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
                     </span>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="text-muted pull-right">2h</small>
                        <span class="circle circle-unread pull-right circle-lg text-left"></span>
                        <strong class="media-box-heading">NEW DOCUMENT</strong>
                        <p class="mb-sm">
                            <small>Bootstrap.doc</small>
                        </p>
                    </div>
                </div>
            </a>
            <!-- END list group item-->
            <!-- START list group item-->
            <a href="#" class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-gray-dark"></em>
                        <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
                     </span>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="text-muted pull-right">5h</small>
                        <strong class="media-box-heading">BROADCAST</strong>
                        <p class="mb-sm"><small>Read</small></p>
                    </div>
                </div>
            </a>
            <!-- END list group item-->
            <!-- START list group item-->
            <a href="#" class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-yellow"></em>
                        <em class="fa fa-clock-o fa-stack-1x fa-inverse text-white"></em>
                     </span>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="text-muted pull-right">5h</small>
                        <strong class="media-box-heading">NEW MEETING</strong>
                        <p class="mb-sm"><small>10/12/2015 09:00 am</small></p>
                    </div>
                </div>
            </a>
            <!-- END list group item-->

            <!-- END list group-->
            <!--</scrollable>-->
            <!-- START panel footer-->
            <div class="panel-footer clearfix">
                <div class="input-group">
                    <input type="text" placeholder="Search files .." class="form-control input-sm"/>
                     <span class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i>
                        </button>
                     </span>
                </div>
            </div>
            <!-- END panel-footer-->
        </div>
    </div>
    <div class="col-lg-6 dashboard-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right label label-unread">5</div>
                <div class="panel-title">Case messages</div>
            </div>
            <!-- START list group-->
            <!--<scrollable height="249" class="list-group">-->
            <!-- START list group item-->
            <a href="#" class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <img src="img/user/02.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="text-muted pull-right">2h</small>
                        <span class="circle circle-unread pull-right circle-lg text-left"></span>
                        <strong class="media-box-heading">Juan Simms</strong>
                        <p class="mb-sm">
                            <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
                        </p>
                    </div>
                </div>
            </a>
            <!-- END list group item-->
            <!-- START list group item-->
            <a href="#" class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <img src="img/user/03.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="pull-right text-muted">3h</small>
                        <span class="circle circle-unread pull-right circle-lg text-left"></span>
                        <strong class="media-box-heading">Tom Marshall</strong>
                        <p class="mb-sm">
                            <small>Cras sit amet nibh libero, in gravida nulla. Nulla facilisi.</small>
                        </p>
                    </div>
                </div>
            </a>
            <!-- END list group item-->
            <!-- START list group item-->
            <a href="#" class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <img src="img/user/09.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="pull-right text-muted">4h</small>
                        <strong class="media-box-heading">Jessie Wells</strong>
                        <p class="mb-sm">
                            <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
                        </p>
                    </div>
                </div>
            </a>
            <!-- END list group item-->
            <!-- START list group item-->
            <a href="#" class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <img src="img/user/12.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="pull-right text-muted">1d</small>
                        <strong class="media-box-heading">Rosa Burke</strong>
                        <p class="mb-sm">
                            <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
                        </p>
                    </div>
                </div>
            </a>
            <!-- END list group item-->
            <!--</scrollable>-->
            <!-- END list group-->
            <!-- START panel footer-->
            <div class="panel-footer clearfix">
                <div class="input-group">
                    <input type="text" placeholder="Search messages .." class="form-control input-sm"/>
                     <span class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i>
                        </button>
                     </span>
                </div>
            </div>
            <!-- END panel-footer-->
        </div>
    </div>
    <div class="col-lg-3 dashboard-panel">
        <div class="panel panel-default patient-records">
            <div class="panel-heading">
                <div class="panel-title">Patient records</div>
            </div>
            <!-- START list group-->
            <!--<scrollable height="249" class="list-group">-->
            <!-- START list group item-->
            <a href="#" class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <img src="img/user/02.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="pull-right text-muted">3h</small>
                        <span class="circle circle-unread pull-right circle-lg text-left"></span>
                        <strong class="media-box-heading">Juan Simms</strong>
                        <div class="case-number text-muted">Case: 12345</div>
                    </div>
                </div>
            </a>
            <!-- END list group item-->
            <!-- START list group item-->
            <a href="#" class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <img src="img/user/03.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="pull-right text-muted">4h</small>
                        <span class="circle circle-unread pull-right circle-lg text-left"></span>
                        <strong class="media-box-heading">Jessica Silva</strong>
                        <div class="case-number text-muted">Case: 12345</div>
                    </div>
                </div>
            </a>
            <!-- END list group item-->
            <!-- START list group item-->
            <a href="#" class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <img src="img/user/09.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="pull-right text-muted">7h</small>
                        <strong class="media-box-heading">Jessie Wells</strong>
                        <div class="case-number text-muted">Case: 12345</div>
                    </div>
                </div>
            </a>
            <!-- END list group item-->
            <!-- START list group item-->
            <a href="#" class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <img src="img/user/12.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="pull-right text-muted">1d</small>
                        <strong class="media-box-heading">Rosa Burke</strong>
                        <div class="case-number text-muted">Case: 12345</div>
                    </div>
                </div>
            </a>
            <!-- END list group item-->

            <!--</scrollable>-->
            <!-- END list group-->
            <!-- START panel footer-->
            <div class="panel-footer clearfix">
                <div class="input-group">
                    <input type="text" placeholder="Search patients .." class="form-control input-sm"/>
                     <span class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i>
                        </button>
                     </span>
                </div>
            </div>
            <!-- END panel-footer-->
        </div>
    </div>
</div>
<!-- START widgets box-->
<div class="row">
    <!--<div class="col-lg-3 col-sm-6">-->
    <!--&lt;!&ndash; START widget&ndash;&gt;-->
    <!--<div class="panel widget bg-primary">-->
    <!--<div class="row row-table">-->
    <!--<div class="col-xs-4 text-center bg-primary-dark pv-lg">-->
    <!--<em class="icon-cloud-upload fa-3x"></em>-->
    <!--</div>-->
    <!--<div class="col-xs-8 pv-lg">-->
    <!--<div class="h2 mt0">1700</div>-->
    <!--<div class="text-uppercase">Uploads</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="col-lg-3 col-sm-6">
        <!-- START widget-->
        <div class="panel widget bg-yellow">
            <div class="row row-table">
                <div class="col-xs-4 text-center bg-yellow-dark pv-lg">
                    <em class="icon-cloud-upload fa-3x"></em>
                </div>
                <div class="col-xs-8 pv-lg">
                    <div class="h2 mt0">1700
                        <small class="text-light">records</small>
                    </div>
                    <div class="text-light">Upload new file</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <!-- START widget-->
        <div class="panel widget bg-gray-light">
            <div class="row row-table">
                <div class="col-xs-4 text-center bg-gray-dark pv-lg">
                    <em class="icon-globe fa-3x"></em>
                </div>
                <div class="col-xs-8 pv-lg">
                    <div class="h2 mt0">700
                        <small class="text-light">clinical trials</small>
                    </div>
                    <div class="text-light">Search treatments</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <!-- START widget-->
        <div class="panel widget bg-pale-blue">
            <div class="row row-table">
                <div class="col-xs-4 text-center bg-pale-blue-dark pv-lg">
                    <em class="icon-bubbles fa-3x"></em>
                </div>
                <div class="col-xs-8 pv-lg">
                    <div class="h2 mt0">500
                        <small class="text-light">transactions</small>
                    </div>
                    <div class="text-light">View payments</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 appt-reminder appt">
        <!-- START date widget-->
        <div class="panel widget">
            <div class="row row-table">
                <div class="col-xs-4 text-center bg-green pv-md">
                    <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
                    <now format="MMMM" class="text-sm"></now>
                    <br/>
                    <now format="d" class="h2 mt0"></now>
                </div>
                <div class="col-xs-8 pv-lg text-right">
                    <now format="EEEE" class="text-uppercase day"></now>
                    <now format="h:mm" class="h3 mt0"></now>
                    <now format="a" class="text-muted text-sm"></now>
                    <br/>
                    <div class="appt-type">Tumor conference</div>
                </div>
            </div>
        </div>
        <!-- END date widget    -->
    </div>
    <!--<div class="col-lg-3 col-md-6 col-sm-12">-->
    <!--&lt;!&ndash; START date widget&ndash;&gt;-->
    <!--<div class="panel widget appt">-->
    <!--<div class="row row-table">-->
    <!--<div class="col-xs-4 text-center bg-primary pv-lg">-->
    <!--&lt;!&ndash; See formats: https://docs.angularjs.org/api/ng/filter/date&ndash;&gt;-->
    <!--<now format="MMMM" class="text-sm"></now>-->
    <!--<br/>-->
    <!--<now format="d" class="h2 mt0"></now>-->
    <!--</div>-->
    <!--<div class="col-xs-8 pv-lg text-right">-->
    <!--<now format="EEEE" class="text-uppercase day"></now>-->
    <!--<now format="h:mm" class="h2 mt0"></now>-->
    <!--<now format="a" class="text-muted text-sm"></now>-->
    <!--<br/>-->
    <!--<div class="appt-type">Tumor conference</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; END date widget    &ndash;&gt;-->
    <!--</div>-->
</div>
<!-- END widgets box-->