<link rel="stylesheet" href="https://cdn01.boxcdn.net/content-experience/0.48.0/third-party/dicom/dicom.min.css" >
<span id="my-container"></span>

<script>
	  $(function () {
        setTimeout(function () {
			
			var accessToken = angular.element(document.getElementById('my-container')).scope().accessToken;
			var dicomFileId = angular.element(document.getElementById('my-container')).scope().dicomFileId;
			
			box.dicom.createViewer(document.body, {
				'accessToken': accessToken,
				'studies': [{
					'fileId':dicomFileId
				}]
			});
		 }, 3500);
    });
</script>
