<h3>Latest Files</h3>
<div class="form-group mb-xl">
    <input type="text" placeholder="Search latest files" class="form-control mb"/>
    <div class="clearfix">
        <button type="button" class="btn btn-default">Search</button>
    </div>
</div>
<div class="actionables latest-files">
    <div class="list-group">
        <a href="#" class="list-group-item">
            <div class="media-box">
                <div class="pull-left">
                     <span class="fa-stack fa-2x">
                        <em class="fa fa-circle fa-stack-2x text-yellow"></em>
                        <em class="fa fa-cloud-upload fa-stack-1x fa-inverse text-white"></em>
                     </span>
                </div>
                <div class="media-box-body clearfix">
                    <span class="circle circle-unread pull-right circle-lg text-left"></span>
                    <small class="text-muted pull-right">15m</small>
                    <strong class="media-box-heading">NEW FILE
                    </strong>
                    <p class="mb-sm">
                        <small>Bootstrap.xls</small>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item">
            <div class="media-box">
                <div class="pull-left">
                     <span class="fa-stack fa-2x">
                        <em class="fa fa-circle fa-stack-2x text-green"></em>
                        <em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
                     </span>
                </div>
                <div class="media-box-body clearfix">
                    <span class="circle circle-unread pull-right circle-lg text-left"></span>
                    <small class="text-muted pull-right">2h</small>
                    <strong class="media-box-heading">NEW DOCUMENT</strong>
                    <p class="mb-sm">
                        <small>Bootstrap.doc</small>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item">
            <div class="media-box">
                <div class="pull-left">
                     <span class="fa-stack fa-2x">
                        <em class="fa fa-circle fa-stack-2x text-gray-dark"></em>
                        <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
                     </span>
                </div>
                <div class="media-box-body clearfix">
                    <small class="text-muted pull-right">5h</small>
                    <strong class="media-box-heading">BROADCAST</strong>
                    <p class="mb-sm"><small>Read</small></p>
                </div>
            </div>
        </a>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item">
            <div class="media-box">
                <div class="pull-left">
                     <span class="fa-stack fa-2x">
                        <em class="fa fa-circle fa-stack-2x text-yellow"></em>
                        <em class="fa fa-clock-o fa-stack-1x fa-inverse text-white"></em>
                     </span>
                </div>
                <div class="media-box-body clearfix">
                    <small class="text-muted pull-right">1d</small>
                    <strong class="media-box-heading">NEW MEETING</strong>
                    <p class="mb-sm"><small>10/12/2015 09:00 am</small></p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul class="pagination pagination-sm">
            <li class="active"><a href="#">1</a>
            </li>
            <li><a href="#">2</a>
            </li>
            <li><a href="#">3</a>
            </li>
            <li><a href="#">»</a>
            </li>
        </ul>
    </div>
</div>