<h3>Specimatch
   <div class="pull-right"><a ui-sref="app.specimatch" class="btn btn-sm btn-white text-sm">&lt; back</a>
   </div>
</h3>
<div class="row search-results">
   <!--start main left column-->
   <div class="col-lg-9 main-panel">
      <div class="row">
         <div class="col-lg-12 header-title">
            <h4>DRUG</h4>
            <div uib-dropdown="dropdown" class="btn-group mb-sm pull-right">
               <button type="button" ng-disabled="disabled" uib-dropdown-toggle=""
                       class="btn dropdown-toggle btn-default">Save for patient
                  <span class="caret"></span>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a>
                  </li>
                  <li><a href="#">Another action</a>
                  </li>
                  <li><a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-body">
            <div class="main-detail">Full description lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi delectus eius excepturi exercitationem explicabo facilis harum incidunt inventore ipsa maiores minima nemo perferendis porro quam quos, repudiandae, veritatis, voluptates?
            </div>
         </div>
      </div>
      <!--left panel-->
      <div class="col-lg-6">
         <div class="panel panel-flat">
            <div class="panel-body">
               <div class="title">
                  DRUGS
               </div>
               <ul>
                  <li>PACLITAXEL MICELLES FOR INJECTION</li>
                  <li>PACLITAXEL INJECTION</li>
                  <li>CISPLATIN</li>
               </ul>
            </div>
         </div>
         <div class="panel panel-flat">
            <div class="panel-body">
               <div class="title">
                  PATHWAY
               </div>
               <ul>
                  <li>Carcinogenic antigen</li>
               </ul>
            </div>
         </div>
         <div class="panel panel-flat">
            <div class="panel-body">
               <div class="title">
                  Condition
               </div>
               <ul>
                  <li>NON-sall celllung</li>
               </ul>
            </div>
         </div>
         <div class="panel panel-flat">
            <div class="panel-body">
               <div class="title">
                  study id
               </div>
               <ul>
                  <li>NON-sall celllung</li>
               </ul>
            </div>
         </div>
         <div class="panel panel-flat">
            <div class="panel-body">
               <div class="title">
                  study start date
               </div>
               <ul>
                  <li>NON-sall celllung</li>
               </ul>
            </div>
         </div>
      </div>
      <!--right panel-->
      <div class="col-lg-6">
         <div class="panel panel-flat">
            <div class="panel-body">
               <div class="title">
                  sponsor
               </div>
               <ul>
                  <li>Shanghai Yizhong Biotechnology Co., Ltd.</li>
               </ul>
            </div>
         </div>
         <div class="panel panel-flat">
            <div class="panel-body">
               <div class="title">
                  study type
               </div>
               <ul>
                  <li>Interventional</li>
               </ul>
            </div>
         </div>
         <div class="panel panel-flat">
            <div class="panel-body">
               <div class="title">
                  study on phase
               </div>
               <ul>
                  <li>NON-sall celllung</li>
               </ul>
            </div>
         </div>
         <div class="panel panel-flat">
            <div class="panel-body">
               <div class="title">
                  eligibility
               </div>
               <ul>
                  <li>Age:23</li>
                  <li>Gender:Both</li>
                  <li><a href="#">Full recruitment Information</a></li>
               </ul>
            </div>
         </div>
      </div>

   </div>
   <!--end main left column-->
   <!--start sidebar-->
   <div class="col-lg-3 results-sidebar">
      <!-- Categories-->
      <div class="panel panel-default">
         <div class="panel-heading"><h4>CONTACT</h4></div>
         <div class="panel-body">
            Shanghai Yizhong Biotechnology Co., LTD.
            <br/>
            1-800-123-4567
            <br/>
            email.name@email.com
         </div>
      </div>
      <!-- Tag Cloud-->
      <!-- <div class="panel panel-default">
         <div class="panel-heading"><h4>LOCATION</h4></div>
         <div class="panel-body">
            Shanghai Yizhong Biotechnology Co., LTD.
            <br/>
            1234 Address St.
            <br/>
            Somewhere, State
            <br/>
            37373
         </div>
      </div> -->
   </div>
   <!--end sidebar-->
</div>